--- 
interface Props {
	title: string;
	frontmatter?: any
}

const { title, frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-neutral-100">
		<nav class="h-16 bg-white shadow-md w-full grid">
			<div class="font-bold text-2xl p-4">
				BANTER
			</div>
		</nav>
		
		<div class="grid justify-center p-8">
			<div class="bg-white min-w-[1024px] p-8 shadow-md">
				<article class="prose lg:prose-lg">
					<h1>{frontmatter.title ?? title}</h1>
					<slot />
				</article>
			</div>
		</div>
		
	</body>
</html>